.Client--service_authorize {
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
    left: 0px;
    text-decoration: none;
    color: #8f8f8f;
    font-size: 14px;
    font-weight: 700;
}

.Client--login_header {
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 28px;
    font-weight: 800;
}

.Client--login_description {
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 16px;
    font-weight: 600;
}