.Card--header {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 60px;
    box-shadow: 0px 2px 3px 2px #0f0f0f10;
    z-index: 1000;
}

.Card--header--logo {
    width: 170px;
    position: absolute;
    margin-top: 20px;
    left: 15px;
}

.Card--header--avatar {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    position: absolute;
    top: 5px;
    left: 15px;
}

.Card--content {
    margin-top: 100px;
    width: 100vw;
    left: 0px;
}

.Card--description {
    margin-left: 20px;
    width: calc(100% - 40px);
    text-align: center;
    font-weight: 700;
    font-size: 13px;
}