.POS--password {
    margin-top: 20px;
    width: 80vw;
    left: 10vw;
    height: 40px;
    border: 3px solid #444444;
    box-shadow: none;
}

.POS--login {
    font-family: 'Manrope';
    width: 80vw;
    left: 10vw;
    margin-top: 30px;
    border-radius: 5px;
    height: 50px;
    box-shadow: none;
    background-color: #444444;
    color: white;
    font-size: 15px;
    font-weight: 800;
}