.POS--code {
    margin-top: 20px;
    width: 80vw;
    left: 10vw;
    font-family: 'Manrope';
    font-weight: 700;
    text-align: center;
    height: 60px;
    border: 3px solid #c0c0c0;
    box-shadow: none;
    font-size: 42px;
    border-radius: 5px;
}

.POS--container--header {
    margin-top: 40px;
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 20px;
}

.POS--logout {
    font-family: 'Manrope';
    width: 80vw;
    left: 10vw;
    margin-top: 30px;
    border-radius: 5px;
    height: 50px;
    box-shadow: none;
    background-color: #444444;
    color: white;
    font-size: 15px;
    font-weight: 800;
    position: fixed;
    bottom: 35px;
}