.Client--service_authorize {
    position: absolute;
    bottom: 15px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    left: 0px;
    text-decoration: none;
    color: #8f8f8f;
    font-size: 14px;
    font-weight: 700;
}

.Client--authorize {
    position: absolute;
    left: 0px;
    width: 100vw;
    top: 0px;
    height: 100vh;
    overflow: hidden;
    background-color: transparent;
}

.Client--background {
    position: fixed;
    left: 0px;
    height: 100vh;
    top: 0px;
    z-index: 0;
}

.Client--logo {
    position: absolute;
    top: 50px;
    width: 60vw;
    left: 20vw;
    background: none;
    z-index: 2;
}

.Client--login_header {
    position: relative;
    margin-top: 300px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 25px;
    font-weight: 800;
    z-index: 2;
}

.Client--login_description {
    position: relative;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 14px;
    font-weight: 600;
    z-index: 2;
}

.Client--login_btn {
    position: relative;
    font-family: 'Manrope';
    font-size: 16px;
    font-weight: 800;
    margin-top: 30px;
    height: 50px;
    border-radius: 25px;
    background-color: white;
    border: none;
    box-shadow: 0px 2px 4px 1px #bebebeaa;
    width: 80%;
    z-index: 2;
}

.Client--login_btn--icon {
    position: relative;
    display: inline-block;
    height: 27px;
    margin-top: 3px;
    margin-right: 10px;
    vertical-align: top;
    z-index: 3;
}

.Client--login_btn--text {
    position: relative;
    display: inline-block;
    height: 30px;
    margin-top: 5px;
    vertical-align: top;
    z-index: 3;
}