.Card {
    width: 100vw;
    max-width: 400px !important;
}

.Card--header {
    padding-top: 5px;
    position: fixed;
    top: 0px !important;
    left: 0px !important;
    width: 100vw;
    height: 50px;
    z-index: 9999;
    background-color: #ffffffee;
    backdrop-filter: blur(20px);
    color: #181818;
}

.Card--header--logo {
    width: 170px;
    position: absolute;
    margin-top: 10px;
    left: 15px;
    background: none;
}

.Card--header--avatar {
    display: block;
    float: right;
    width: 50px;
    height: 50px;
    margin-top: -2px;
    margin-right: 10px;
    box-shadow: none;
    border: none;
    background: none;
}

.Card--header--avatar--icon {
    width: 34px;
    height: 34px;
    display: block;
    text-align: center;
    margin: auto;
    border-radius: 17px;
    overflow: hidden;
    object-fit: contain;
    border: 1px solid #181818;
}

.Card--hello {
    text-align: center;
    margin-top: 100px;
    font-size: 25px;
    font-weight: 700;
    margin-left: 15vw;
    margin-right: 15vw;
}

.user-pane {
    text-align: center;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-top: 100px;
    width: 100vw;
    left: 0px;
}

.user-pane-1 {
    position: fixed;
    height: 100vh;

    opacity: 0;
    animation: 3.0s ease-out 0s 1 slideIn-1;
    color:#181818;
}

.user-pane-2 {
    position: absolute;
    top: 100px;
    animation: 3.0s ease-out 0s 1 slideIn-2;
    color: #181818;
}

.Card--menu {
    width: 100vw;
    text-align: center;
    position: absolute;
    top: 100px;
    animation: 0.5s ease-out 0s 1 slideIn-2;
    color: #181818;
}

.Card--menu--logout {
    font-family: 'Manrope';
    left: 10vw;
    width: 80vw;
    box-shadow: none;
    border: none;
    background-color: #181818;
    color: white;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    height: 60px;
}

@keyframes slideIn-1 {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 0.5;
    }

    10% {
        opacity: 1;
    }

    50% {
        transform: translateY(0);
        opacity: 1;
    }

    75% {
        transform: translateY(-40);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes slideIn-2 {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }

    75% {
      opacity: 0;
    }

    80% {
        transform: translateY(0px);
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}



.Card--description {
    margin-left: 20px;
    width: calc(100vw - 40px);
    text-align: center;
    font-weight: 700;
    font-size: 13px;
}

.Card--code {
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 45px;
    color: #050e2b;
}


.Card--plastic {
    position: relative;
    text-align: center;
    display: block;

    margin-top: 40px;
    margin-left: 25px;

    width: calc(100vw - 50px);
    height: 60vw;
    min-width: 200px;

    margin-bottom: 40px;
    padding-top: 20px;

    border: 0.5px solid rgb(26, 26, 29);
    box-shadow: 0px 3px 20px 3px #5050506c;
    background: rgb(2,2,22);
    background: linear-gradient(114deg, rgba(2,2,22,1) 7%, rgba(16,40,52,1) 22%, rgba(15,23,18,1) 67%, rgba(0,0,0,1) 91%);
    color: white;
    
    border-radius: 15px;
}

.Card--plastic--hint {
    text-align: left;
    position: absolute;
    top: 22px;
    left: 32px;
    color: white;
    font-size: 15px;
    font-weight: 700;
}

.Card--plastic--amount {
    position: absolute;
    top: 45px;
    left: 30px;
    color: white;
    font-size: 42px;
    font-weight: 500;
}

.Card--plastic--icons {
    position: absolute;
    top: 65px;
    left: 30px;
}

.Card--plastic--icon {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 8vw;
    margin-right: 20px;
}

.Card--plastic--name {
    font-size: 13px;
    width: 70%;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.1px;
    font-family: 'PT-mono', monospace;
    text-align: left;
    position: absolute;
    bottom: 25px;
    left: 30px;
    opacity: 0.8;
    color: white;
}

.Card--island--wrapper {
    border-top: 1px solid #e9e9e9;
    padding-top: 40px;
    margin-left: 25px;
    width: calc(100vw - 50px);
    text-align: left;
}

.Card--island {
    position: relative;
    text-align: left;
    width: calc((100vw - 50px)/2 - 10px);
    height: calc((100vw - 50px)/2 - 10px);
    border: none;
    box-shadow: none;
    border-radius: 15px;
    vertical-align: top;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 7px;
    padding: 5px;
}

.blue {
    background-color: #d3e1ff;
}

.gray {
    background-color: #e4e4e4;
}

.pink {
    background-color: #ffd3e4;
}

.green {
    background-color: #d3ffd3;
}

.Card--island--icon {
    position: absolute;
    top: 21px;
    left: 15px;
    width: 35px;
    margin-bottom: 15px;
}

.Card--island--text {
    font-family: 'Manrope';
    font-size: 15px;
    font-weight: 700;
    position: absolute;
    top: 20vw;
    left: 15px;
    width: 30vw;
    opacity: 0.7;
}

.Card--banner {
    margin-bottom: 40px;
    margin-top: 40px;
    margin-left: 5px;
    
    width: calc(100% - 10px);
    border-radius: 15px;
}